

<div>
    <div class="uk-card uk-card-outline uk-border-rounded uk-overflow-hidden uk-card-default">
        <div class="uk-card-header">
            <h4>Default Block</h4>
        </div>
        <div class="uk-card-body">
            <div>
                <table class="uk-table uk-table-justify uk-table-small">

                    <tr>
                        <td>Text</td>
                        <td>{{ text }}</td>
                    </tr>
                    <tr>
                        <td>Number</td>
                        <td>{{ number }}</td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>{{ password }}</td>
                    </tr>
                    <tr>
                        <td>Rich Text</td>
                        <td>{{ rich_text }}</td>
                    </tr>
                    <tr>
                        <td>Radio</td>
                        <td>{{ radio }}</td>
                    </tr>
                    <tr>
                        <td>Select</td>
                        <td>{{ select }}</td>
                    </tr>
                    <tr>
                        <td>Checkbox</td>
                        <td>
                            <pre>{{ dump(checkbox) }}</pre>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
